body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: hidden;
}

/* 404 Screen */
#errorScreen {
  background: #111;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  color: hotpink;
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

#recoverBtn {
  background: hotpink;
  color: white;
}

/* Main Screen */
#mainContent {
  background: #ffe6f2;
  min-height: 100vh;
  padding-top: 150px;
  display: none;
}

#yesBtn {
  background: hotpink;
  color: white;
}

#noBtn {
  background: #ccc;
  color: black;
  position: relative;
}

/* Butterfly */
.butterfly {
  position: fixed;
  font-size: 22px;
  animation: flyUp linear forwards;
}

@keyframes flyUp {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-20vh);
    opacity: 0;
  }
}
