body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Hide by default */
.hidden {
  display: none !important;
}

/* 404 */
#errorScreen {
  background: #111;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Card Screen */
#cardScreen {
  background: #f8c8dc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* YAY Screen */
#yayScreen {
  background: #f8c8dc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 350px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#yesBtn {
  background: linear-gradient(to right, #ff4b6e, #ff758c);
  color: white;
}

#noBtn {
  background: white;
  border: 1px solid gray;
}
