body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  text-align: center;
}

/* 404 */
#errorScreen {
  background: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight {
  color: hotpink;
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

#yesBtn {
  background: hotpink;
  color: white;
}

#noBtn {
  background: gray;
  color: white;
  position: relative;
}

/* Main Content */
#mainContent {
  background: linear-gradient(to bottom, #ffd6e8, #fff);
  min-height: 100vh;
  padding: 60px 20px;
  transition: 1s;
}

section {
  margin: 120px 0;
}

.hidden {
  display: none;
}

/* Butterfly Animation */
.butterfly {
  position: fixed;
  width: 30px;
  height: 30px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/616/616408.png");
  background-size: cover;
  pointer-events: none;
  animation: floatUp linear infinite;
}

@keyframes floatUp {
  from {
    transform: translateY(100vh) rotate(0deg);
    opacity: 1;
  }
  to {
    transform: translateY(-10vh) rotate(360deg);
    opacity: 0;
  }
}
